{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}

    <main class="container p-5">

        <!-- H1 TO WELCOME ADMIN -->

        <!-- Key stats table -->
        <table class= "table table-striped">
            <thead>
                Key Stats
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center" colspan="4">CONVERSION RATE</td>
                    <td>{{percent}}</td>                    
                </tr>
            </tbody>
        </table>

        <!-- CREATE DIV TO STORE EVENTS PER CLICK -->
    </main>


{% endblock %}