{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
<main class="container p-5">

<div class="container p-5">
<h1 style="color: #ea433b;">Welcome Admin</h1>
<h2>Analytics</h2>



<div>
    <h3>Ideal Target Customer</h3>
    <table class= "table table-striped">
        <tbody>
            <tr>
                <td >&#8595; Value | Intent &#8594;</td>
                <td>Low</td> 
                <td>Medium</td>  
                <td>High</td>              
            </tr>
        </tbody>
         </table>



        <table class= "table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Low</td>
                <td>Waste of Budget</td>
                <td>Use Caution</td>
                <td>Worth Spending</td>
            </tr>
            </tbody>
        </table>


        <table class= "table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>Medium</td>
                <td>Use Caution</td>
                <td>Where Funds Allow</td>
                <td>Boost Spending</td>
            </tr>
            </tbody>
        </table>


<di class="table-margin">
        <table class= "table table-striped">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>High</td>
                <td>Worth Spending</td>
                <td>Boost Spending</td>
                <td>Ideal Web Visor</td>
            </tr>
            </tbody>
        </table>    
</div>


<div class="graph-table">
<table class="graph">
	<caption><h4>Rooms generating most revenue compared to <br>  Superior 2 Queen with Sleeper Sofa </h4></caption>

	<thead>
		<tr>
			<th scope="col">Item</th>
			<th scope="col">Percent</th>
		</tr>
	</thead><tbody>
		<tr style="height:0%">
			<th scope="row">Accessible 2 Queen beds Sleeper Sofa</th>
			<td><span>£0</span></td>
		</tr>
		<tr style="height:4%">
			<th scope="row">Accessible King Bed with Sleeper Sofa</th>
			<td><span>£2424</span></td>
		</tr>
		<tr style="height:20%">
			<th scope="row">Lighthouse Tower Suite</th>
			<td><span>£11720</span></td>
		</tr>
		<tr style="height:100%">
			<th scope="row">Superior 2 Queen with Sleeper Sofa</th>
			<td><span>£56975</span></td>
		</tr>
		<tr style="height:98%">
			<th scope="row">Superior King with Sleeper Sofa</th>
			<td><span>£56165</span></td>
		</tr>
	</tbody>
</table>
</div>


<div class="graph-table">
<table class="graph-room">
	<caption><h4> Rate of conversions per user for each revenue stream </h4></caption>
	<thead>
		<tr>
			<th scope="col">Stream</th>
			<th scope="col">Rate</th>
		</tr>
	</thead><tbody>
		<tr style="height:77%">
			<th scope="row">Booking Engine Entrances</th>
			<td><span>1.51</span></td>
		</tr>
		<tr style="height:70%">
			<th scope="row">Food Beverage</th>
			<td><span>1.4</span></td>
		</tr>
		<tr style="height:56%">
			<th scope="row">Purchase</th>
			<td><span>1.13</span></td>
		</tr>
		<tr style="height:53%">
			<th scope="row">Meetings</th>
			<td><span>1.07</span></td>
		</tr>
	</tbody>
</table>
</div>


<div>
<!-- CREATE DIV TO STORE EVENTS PER CLICK -->
<h3>Most popular language spoken by users </h3>
<img src="/static/languages.png" class="graph-image"/>
</div>

    </main>


{% endblock %}